In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import math

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/cross-validation.csv")

In [ ]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [ ]:
print(df['Loan_Status'].unique())
print(df['Gender'].unique())
print(df['Married'].unique())
print(df['Education'].unique())
print(df['Self_Employed'].unique())
print(df['Property_Area'].unique())
print(df['Dependents'].unique())

['Y' 'N']
['Male' 'Female' nan]
['No' 'Yes' nan]
['Graduate' 'Not Graduate']
['No' 'Yes' nan]
['Urban' 'Rural' 'Semiurban']
['0' '1' '2' '3+' nan]

In [ ]:
df = df.dropna()

In [ ]:
print(df['Loan_Status'].unique())
print(df['Gender'].unique())
print(df['Married'].unique())
print(df['Education'].unique())
print(df['Self_Employed'].unique())
print(df['Property_Area'].unique())
print(df['Dependents'].unique())

['N' 'Y']
['Male' 'Female']
['Yes' 'No']
['Graduate' 'Not Graduate']
['No' 'Yes']
['Rural' 'Urban' 'Semiurban']
['1' '0' '2' '3+']

In [ ]:
from sklearn import preprocessing

le = preprocessing.LabelEncoder()

df['Loan_Status']= le.fit_transform(df['Loan_Status'])
df['Gender']= le.fit_transform(df['Gender'])
df['Married']= le.fit_transform(df['Married'])
df['Education']= le.fit_transform(df['Education'])
df['Self_Employed']= le.fit_transform(df['Self_Employed'])
df['Property_Area']= le.fit_transform(df['Property_Area'])
df['Dependents']= le.fit_transform(df['Dependents'])

In [ ]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0
2,LP001005,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,1
3,LP001006,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
4,LP001008,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,1
5,LP001011,1,1,2,0,1,5417,4196.0,267.0,360.0,1.0,2,1

In [ ]:
from sklearn.model_selection import train_test_split

X = df.iloc[:, 1:-1]
Y = df.iloc[:, -1]
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2,random_state=42)

In [ ]:
#Normalization
X_train_mean = X_train.mean()
X_train_std = X_train.std()
X_train = (X_train - X_train_mean) / X_train_std

X_test = (X_test - X_train_mean) / X_train_std

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [ ]:
def result(X_train, Y_train, X_test, Y_test):

  model.fit(X_train, Y_train)
  accuracy = model.score(X_train, Y_train)

  print("Training Accuracy:", accuracy)

  y_pred = model.predict(X_test)
  accuracy = accuracy_score(Y_test, y_pred)
  precision = precision_score(Y_test, y_pred)
  recall = recall_score(Y_test, y_pred)

  print("Test Accuracy : ", accuracy)
  print("Precision Score : ",precision)
  print("Recall : ", recall)
  print("______________________")
  return (accuracy, precision, recall)

In [ ]:
model = LogisticRegression(solver='saga', penalty='none', max_iter=10000)

In [ ]:
fold = 5
fold_size = math.floor(X_train.shape[0]/fold)
fold_size

76

In [ ]:
X_train.shape

(384, 11)

In [ ]:
f1_X = X_train.iloc[0:75]
f1_Y = Y_train.iloc[0:75]

f2_X= X_train.iloc[76:152]
f2_Y = Y_train.iloc[76:152]

f3_X = X_train.iloc[153:229]
f3_Y = Y_train.iloc[153:229]

f4_X = X_train.iloc[230:306]
f4_Y = Y_train.iloc[230:306]

f5_X = X_train.iloc[306:383]
f5_Y = Y_train.iloc[306:383]

In [ ]:
X_train1 = pd.concat([f1_X, f2_X, f3_X, f4_X])
Y_train1 = pd.concat([f1_Y, f2_Y, f3_Y, f4_Y])
X_test1 = f5_X
Y_test1 = f5_Y
a1,c1,r1 = result(X_train1, Y_train1,  X_test1, Y_test1)

X_train2 = pd.concat([f1_X, f2_X, f3_X, f5_X])
Y_train2 = pd.concat([f1_Y, f2_Y, f3_Y, f5_Y])
X_test2 = f4_X
Y_test2 = f4_Y
a2,c2,r2 = result(X_train2, Y_train2,  X_test2, Y_test2)

X_train3 = pd.concat([f1_X, f2_X, f4_X, f5_X])
Y_train3 = pd.concat([f1_Y, f2_Y, f4_Y, f5_Y])
X_test3 = f3_X
Y_test3 = f3_Y
a3,c3,r3 = result(X_train3, Y_train3,  X_test3, Y_test3)

X_train4 = pd.concat([f1_X, f3_X, f4_X, f5_X])
Y_train4 = pd.concat([f1_Y, f3_Y, f4_Y, f5_Y])
X_test4 = f2_X
Y_test4 = f2_Y
a4,c4,r4 = result(X_train4, Y_train4,  X_test4, Y_test4)

X_train5 = pd.concat([f2_X, f3_X, f4_X, f5_X])
Y_train5 = pd.concat([f2_Y, f3_Y, f4_Y, f5_Y])
X_test5 = f1_X
Y_test5 = f1_Y
a5,c5,r5 = result(X_train5, Y_train5,  X_test5, Y_test5)

Training Accuracy: 0.7920792079207921
Test Accuracy :  0.8311688311688312
Precision Score :  0.8
Recall :  1.0
______________________
Training Accuracy: 0.8092105263157895
Test Accuracy :  0.7894736842105263
Precision Score :  0.7692307692307693
Recall :  0.9803921568627451
______________________
Training Accuracy: 0.7993421052631579
Test Accuracy :  0.8026315789473685
Precision Score :  0.803030303030303
Recall :  0.9636363636363636
______________________
Training Accuracy: 0.7960526315789473
Test Accuracy :  0.8421052631578947
Precision Score :  0.847457627118644
Recall :  0.9433962264150944
______________________
Training Accuracy: 0.819672131147541
Test Accuracy :  0.7466666666666667
Precision Score :  0.7313432835820896
Recall :  0.98
______________________

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:1173: FutureWarning: `penalty='none'`has been deprecated in 1.2 and will be removed in 1.4. To keep the past behaviour, set `penalty=None`.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:1173: FutureWarning: `penalty='none'`has been deprecated in 1.2 and will be removed in 1.4. To keep the past behaviour, set `penalty=None`.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:1173: FutureWarning: `penalty='none'`has been deprecated in 1.2 and will be removed in 1.4. To keep the past behaviour, set `penalty=None`.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:1173: FutureWarning: `penalty='none'`has been deprecated in 1.2 and will be removed in 1.4. To keep the past behaviour, set `penalty=None`.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:1173: FutureWarning: `penalty='none'`has been deprecated in 1.2 and will be removed in 1.4. To keep the past behaviour, set `penalty=None`.
  warnings.warn(

In [ ]:
print("\nMean Accuracy: ",(a1+a2+a3+a4+a5)/5)
print("Mean Precision: ",(c1+c2+c3+c4+c5)/5)
print("Mean Recall: ",(r1+r2+r3+r4+r5)/5)

Mean Accuracy:  0.8024092048302576
Mean Precision:  0.7902123965923613
Mean Recall:  0.9734849493828406